{% extends "core/base/base.html" %}

{% load i18n %}

{% block title %} Timer {{ issue.id }} {% endblock %}

{% block header %}
    {% include 'core/base/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <a href="{% url 'core_home' %}" class="pull-left">
                <button type="button" class="btn btn-danger btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Back
                </button>
            </a>
        </div>
    </div>

    <div class="row">
        <h4 class="text-center">
            Issue
            <a target="_blank" href="{{ issue.get_link_issue_on_redmine }}">
                #{{ issue.redmine_issue_id }}
            </a>
        </h4>
        <h6 class="text-center">
            {{ issue.date }}
        </h6>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br />
            <p><b>Issue : </b>{{ issue }}</p>
            <p><b>Project : </b>{{ issue.project }}</p>
            <p><b>Time total : </b> </p>

            <div class="pull-left">
                <a href="#">
                    <button type="button" class="btn btn-success btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        Start new timer
                    </button>
                </a>
            </div>

            <div class="pull-right">
                <a href="{% url 'core_synchronize_time_entries' issue_id=issue.id %}">
                    <button type="button" class="btn btn-info btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        Synchronize time entries
                    </button>
                </a>

                <a href="#">
                    <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                        Upload time entries
                    </button>
                </a>
            </div>
            <br /><br />
            <table class="table table-condensed table-lists-contacts">
                <thead>
                    <tr>
                        <th> Start date</th>
                        <th> End date</th>
                        <th> Time</th>
                        <th> Comments</th>
                    </tr>
                </thead>
                <tbody>
                {% for entry in issue.timeentry_set.all %}
                    <tr>
                        <td>{{ entry.start_date }}</td>
                        <td>{{ entry.end_date }}</td>
                        <td>{{ entry.time }}</td>
                        <td>{{ entry.comments }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}